GaiaClimConverter/Resources/Wigos-XSD/stationPlatform.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="commonTypes.xsd"/>
    <xs:complexType name="StationPlatform_Type">
        <xs:annotation>
            <xs:documentation>
                Specifies the environmental monitoring facility, including fixed station, moving equipment or remote
                sensing platform at which the observation is made.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="regionOfOriginOfData" type="RegionOfOriginOfData_Type" minOccurs="0"/>
            <xs:element name="territoryOfOriginOfData" type="TerritoryOfOriginOfData_Type" minOccurs="0"/>
            <xs:element name="stationPlatformName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Official name of the station/platform.

                        EXAMPLES:
                        Mauna Loa, South Pole
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stationPlatformType" type="StationPlatformType_Type"/>
            <xs:element name="stationPlatformModel" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The model of the monitoring equipment used at the station/platform.

                        EXAMPLES:
                        ‘Landsat 8’ is a platform/station model of ‘satellite’; ‘Almos
                        Automatic Weather Station (AWS)’ is a model of a ‘land
                        station’; ’Airbus A340-600’ is a model of an ‘aircraft’.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stationPlatformUniqueIdentifier" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        A unique and persistent identifier for an environmental monitoring facility (station/platform),
                        which may be used as an external point of reference.

                        NOTE:
                        A globally unique identifier assigned by WMO for a
                        station. Where a station has multiple identifiers, there
                        must be a way of recording that they are synonyms. To be
                        defined according to WMO guidelines.

                        EXAMPLE:
                        Ship: Call sign.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="geospatialLocation" type="GeospatialLocation_Type"/>
            <xs:element name="dataCommunicationMethod" type="DataCommunicationMethod_Type" minOccurs="0"/>
            <xs:element name="stationStatus" type="StationStatus_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RegionOfOriginOfData_Type">
        <xs:annotation>
            <xs:documentation>
                WMO Region

                NOTE:
                WMO divides Member countries into six Regional
                Associations responsible for coordination of
                meteorological, hydrological and related activities within
                their respective Regions.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="I">
                <xs:annotation>
                    <xs:documentation>
                        Africa
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="II">
                <xs:annotation>
                    <xs:documentation>
                        Asia
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="III">
                <xs:annotation>
                    <xs:documentation>
                        South America
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IV">
                <xs:annotation>
                    <xs:documentation>
                        North America, Central America and the Caribbean
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="V">
                <xs:annotation>
                    <xs:documentation>
                        South-West Pacific
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VI">
                <xs:annotation>
                    <xs:documentation>
                        Europe
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VII">
                <xs:annotation>
                    <xs:documentation>
                        Antarctica
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TerritoryOfOriginOfData_Type">
        <xs:annotation>
            <xs:documentation>
                Country or territory name of the location of the observation.

                NOTE: Mandatory for fixed stations, optional for mobile stations

                EXAMPLE:
                Australia.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string"></xs:element>
            <xs:element name="ISO3CountryCode" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StationPlatformType_Type">
        <xs:annotation>
            <xs:documentation>
                A categorization of the type of environmental monitoring facility at which an observed variable is measured.

                NOTE:
                Code table according to See [INSPIRE D2.8.III.7, 2013]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="land station">
                <xs:annotation>
                    <xs:documentation>
                        An observing station or field site situated on land, either fixed or mobile.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sea station">
                <xs:annotation>
                    <xs:documentation>
                        An observing station situated at sea. Sea stations include ships, ocean weather stations and stations on fixed
                        or drifting platforms (rigs, platforms, lightships, buoys and ice floes).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="aircraft">
                <xs:annotation>
                    <xs:documentation>
                        An airplane, helicopter or airship used to make environmental observations.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="satellite">
                <xs:annotation>
                    <xs:documentation>
                        A platform placed in orbit around the earth to make environmental observations.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="underwater platform">
                <xs:annotation>
                    <xs:documentation>
                        A platform under a lake or sea surface, including autonomous underwater vehicles.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GeospatialLocation_Type">
        <xs:annotation>
            <xs:documentation>
                Position in space defining the location of the environmental monitoring station/platform at the time of observation.

                NOTE 1: Required for fixed stations; for stations following
                pre-determined trajectory (e.g. satellites);

                NOTE 2: The elevation of a fixed terrestrial station is
                defined as the height above sea level of the ground on
                which the station stands (“Hha” in WMO Pub. 9 Vol A).

                NOTE 3: The geospatial location can be a zero-, one-,
                two-, or three-dimensional feature.

                NOTE 4: Geographical coordinates can be specified in
                decimal degrees. Latitudes are specified with reference to
                the equator, with positive sign for latitudes north of the
                equator, and negative sign for latitudes south of the
                equator. Longitudes are specified with reference to the
                Greenwich meridian, with positive sign for longitudes east
                of Greenwich, and negative sign for meridians west of
                Greenwich. Elevation is a signed number specified in
                some distance measure (e.g., meters) relative to a
                reference elevation, with positive sign in the direction
                away from the Earth centre.

                NOTE 5: The latitudinal and longitudinal positions of a
                station referred to in the World Geodetic System 1984
                (WGS-84) Earth Geodetic Model 1996 (EGM96) must be
                recorded to a resolution of at least 0.001 decimal degrees
                (WMO-No. 8, 2008, Part I, Chapter 1, 1.3.3.2).

                NOTE 6: This element comprises 3 entities, the
                coordinates (Lat/Long/Alt), the "geopositioning method"
                (code table 11-01) which produced the coordinates, as
                well as the "geospatial reference system" (code table
                11-02) used.

                EXAMPLES:
                (i) The station Jungfraujoch is located at 46.54749°N
                7.98509°E (3580.00 m a.m.s.l.). The reference system is
                WGS-84.
                (ii) Voluntary Observing Ship Route: WMO Regional
                Association 5, Sub Area 6 (R56)
                (iii) [geostationary satellite] Meteosat-8 (MSG-1) 3.6°E
                (iv) [sun-synchronous satellite] NOAA-19 Height 870 km;
                Local Solar Time (LST) 13:39
                (v) Weather Watch Radar: Warruwi NT -11.6485° N,
                133.3800 E, Height 19.1 m amsl.
                (vi) River discharge gauge: Warrego River at Cunnamulla
                Weir 28.1000 S, 145.6833 E, Height: 180 m amsl.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="coordinatesSourceDevice" type="CoordinatesSourceDevice_Type" />
            <xs:element name="coordinatesReference" type="CoordinatesReference_Type" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DataCommunicationMethod_Type">
        <xs:annotation>
            <xs:documentation>
                Data communication method between the station/platform and some central facility.

                EXAMPLES:
                Inmarsat-C, ARGOS, Cellular, Globalstar, GMS(DCP),
                Iridium, Orbcomm, VSat, landline telephone, mail
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARGOS">
                <xs:annotation>
                    <xs:documentation>
                        Argos is a Geosynchronous/Geostationary Earth Orbit (GEO) satellite-based system which collects data from
                        Platform Terminal Transmitters, PTTs, and distributes sensor and location data to the final users. http://www.argossystem.
                        org/
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Cellular">
                <xs:annotation>
                    <xs:documentation>
                        Land based wireless communication network distributed over land areas, each served by at least one fixed-location
                        transceiver, known as a cell site or base station
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Globalstar">
                <xs:annotation>
                    <xs:documentation>
                        Globalstar is a low Earth orbit (LEO) satellite constellation for satellite phone and low-speed data communications
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GMS (DCP)">
                <xs:annotation>
                    <xs:documentation>
                        Collection of meteorological data from the Geostationary Meteorological Satellite of the Japan Meteorological Agency
                        (GMS) Data Collection Platform (DCP) installed on ships, buoys, aircraft and weather stations
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Iridium">
                <xs:annotation>
                    <xs:documentation>
                        The Iridium satellite constellation is a large group of Low Earth Orbit (LEO) satellites providing voice and data
                        coverage to satellite phones, pagers and integrated transceivers over Earth's entire surface
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ORBCOMM">
                <xs:annotation>
                    <xs:documentation>
                        ORBCOMM is a company that offers machine-to-machine global asset monitoring and messaging services from its
                        constellation of LEO communications satellites.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VSAT">
                <xs:annotation>
                    <xs:documentation>
                        A very small aperture terminal (VSAT) is a two-way satellite ground station used in satellite communications of data,
                        voice and video signals which access satellites in geosynchronous orbit to relay data from small remote earth stations
                        (terminals) to other terminals master earth station hubs.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Landline telephone">
                <xs:annotation>
                    <xs:documentation>
                        A landline telephone refers to a phone or modem that uses a physical telephone line for communication.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Radio modem" />
            <xs:enumeration value="E-mail" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StationStatus_Type">
        <xs:annotation>
            <xs:documentation>
                Declared reporting status of the station.

                NOTE:
                Refer to the code table
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Planned">
                <xs:annotation>
                    <xs:documentation>
                        The station is planned to be deployed sometime in the future, and all information provided is indicative
                        only. No observations are taken.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Pre-operational">
                <xs:annotation>
                    <xs:documentation>
                        The station is deployed and producing data but still not fully ready to start reporting operationally.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Operational/Reporting">
                <xs:annotation>
                    <xs:documentation>
                        The station fully complies with the reporting obligations of the observation programme/network concerned
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Partly reporting">
                <xs:annotation>
                    <xs:documentation>
                        The station partially complies with the reporting obligations of the observation programme/network concerned
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Temporarily suspended">
                <xs:annotation>
                    <xs:documentation>
                        The station is considered non-reporting/non-operational for a certain period of time; The station is
                        expected to resume its operational/reporting status after the temporarily suspension interval
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Closed">
                <xs:annotation>
                    <xs:documentation>
                        The station has been declared as closed by the responsible supervising organization
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>